.student-details{
color: #fcfcfc;
    background-color: rgb(56, 190, 239);
    
}
.item-details{
color: #000000;
border-style: solid;
border-color: #5a5757;
    background-color: rgb(255, 255, 255);
}